<!DOCTYPE html>
<html>
<head>
  <title>MyStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%- if current_user %>
You've signed in as <%= current_user.email %>
  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>

<p style="color: red;"><%= flash[:error] %></p>
<p style="color: green;"><%= flash[:success] %></p>
<%= yield %>

</body>
</html>
